.img-fluid {
    width: 35px;
    height:auto;
   
}
body{
    background-color: #f2eeee;
  }

  .nav-item{
    font-size: 20px;
    color: black;

}
.nav-item .nav-link {
     color: black;
}
a{
    color: black;
}
nav {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.45);
  }

  /* <!-- BackGround Image Editing --> */
  #BackGround{
   /* background-image: url("../Images/background.jpg"); */
   background-image: url('../Images/background.jpg');
   background-size: cover;
   height: 400px;
   margin-top: 28px;
   
  }
  #Heading{
   
    margin-left: 50px;
    
    color: #1b0c0c;
    font-weight: bolder ;
  }

  #insearch{

    padding: 25px;
  }


  .input-group-text{
    background-color: #FFFFFF;
}

select {
    border: none;
    padding: 5px;
    margin: 0%;
  }

  input[type=text] {

    padding: 25px;
    
  }

  .FloatBoxMain{
    position: relative;
    top: -65px;
  }

  .FloatBOX{
    display: flex;
    justify-content:center;
    /* justify-items: center; */
  }
  .FloatBOX1{
    /* display: flex;
    flex-direction: column;
    justify-content:center;
    justify-items: center; */

  }

  .boximg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }


  /* footer */

 footer{
    color: white;
}
.icons a i
{
 margin: 5px;
}
.fas
{
    margin: 5px;
} 

.hidemenu{
  background-color: white;
}
  
ul{
  list-style-type: none;
  text-decoration: none;
}
  @media screen and (max-width:700px) {
    #BackGround{
      display: none;
      
    }

    .FloatBoxMain{
      position: relative;
      top: -16px;
    }
    #search{
      display: block;
      
      padding: 10px; 
      /* margin-top: 40px; */
    }
    div.sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 10px;}
    nav{
        margin-bottom: 27px;
    }

    }
  
    @media screen and (min-width:800px) {
     
      #search{
        display: none;
      }
     
  
      }